@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

@mixin grid($tempCol, $pad) {
    display: grid;
    grid-template-columns: $tempCol;
    padding: $pad;
}

@mixin mQ($respond) {
    @media (max-width: $respond){
        @content;
    }
}



.row{
    @include grid (repeat(3,1fr), 3rem);
        @include mQ (1000px){
            @include grid (repeat(2,1fr), 3rem);
        }

        @include mQ (500px){
            @include grid(1fr, 3rem);
        }
}

img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 2rem;
        @include mQ(500px){
            width: 100%;
        }
}

.container{
    max-width: 1400px;
    margin: auto;
    width: 80%;
}

.movie{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

b{
    margin-right: .5rem;
}

.header{
    background-color: #444;
    color: #fff;
    padding: .2rem;
    .fab{
        color: rgb(55, 176, 224);
        margin-right: .2rem;
        font-size: 1.8rem;
    }
}

.footer{
    background-color: #444;
    color: #fff;
    padding: .2rem;
}